# Ignorar node_modules
node_modules/

# Ignorar logs y temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar configuración de VS Code
.vscode/

# Ignorar archivos de producción o compilados
dist/
build/
out/

# Otros archivos que no debes subir
*.env
.DS_Store
